version: "3.9"

services:
  pcbrecon:
    image: garlicbr34d/pcbrecon-pcbrecon:latest
    container_name: pcbrecon
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ./uploads:/app/uploads
      - ./static:/app/static
    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONDONTWRITEBYTECODE=1
